/* This style sheet focuses on the core aspects of what all of websites have header and navbar as well as resposnvness for that as well and font color etc and then also adding a nav sticky bar */




* {
  box-sizing: border-box;
}


body{
  margin:0px;
  font-family:'Josefin Sans',sans-serif;
  background-color:#a19e97;
}

/* Welcome Header for my Site */

.welcome {
  color:#e3cfcf;
  background-color:#493e4f;
  text-align:center;
  margin:0px;
}

.welcome h1{
  color:#e3cfcf;
  padding:20px;
  margin:0px;
  border:5px outset black;
}

/* Adding a clock to class website styling it*/

#myClock{
  color:#e3cfcf;
  font-size:26pt;
  border:5px outset black;
  border-top-style: none;
  border-bottom-style: none;

  padding:20px;


}


/*navbar making it sticky*/
#Top-Nav{
  position:sticky;
  position: -webkit-sticky;
  top:0;
}

.nav-bar {
  display:flex;
  justify-content:space-between;
  text-align:center;
  margin:0px;
  background-color:#333;
  color:white;
  border:5px outset black;
  border-bottom-style: 1px solid black;
}

.nav-bar a {
  /*Styling the links inside of the navbar */
  text-decoration:none;
  font-size:30px;
  color:white;
  /* Keep the spacing consistant between the links inside the navbar*/
  padding:20px;
}

.nav-bar a:hover{
  background-color:#a19e97;
  color:black;
  border-radius:10px;
  border:5px solid black;



  /*text-decoration: underline;
  color:#c2beb4;
  */
}

.nav-bar a.active{
  background-color:#a83232;
  border-radius:10px;
  padding:20px;

}

/* Hamburger Menu to make our Nav-bar responsive so we will hide it*/

.nav-bar a.icon{
  display:none;
}





/* Media Querry for response nav hamburger Menu*/


@media screen and (max-width:820px){

  .nav-bar :not(:first-child){
    display:none;
    }

  .nav-bar a.icon{
    text-align:right;
    display:block;
    top:1;
    right:0;
    position:absolute;
    }

  .nav-bar a.icon:hover{
    padding:15px;
  }
  }



@media screen and (max-width:820px){
  .nav-bar.responsive [class*="nav"]{
    text-align:left;
    display:block;
  }
  .nav-bar.responsive{
    position:relative;
    flex-direction:column;
    text-align:left;
  }
}

i.a{
  font-size:40px;
}




/* Using grid layout from labcss going to style other elements within the home page*/

ul.link li a{
  color:white;
  text-decoration:none;
}

ul.link li a:hover{
  color:#c2beb4;

}



/* Footer*/
.footer{
  position: static;
  width: 98%;
  height:400px;
  background-color: #333;
  color: white;
  text-align: center;
  border:10px outset black;
  margin:1rem 1rem 1rem 1rem;

}

.footer h2.titlefoot{
  text-align:left;
  margin:20px;

}

/* footernav*/
.footer-nav{
  display:flex;
  justify-content:space-between;
  border:5px outset black;
}

.footer-nav a{
  text-decoration:none;
  padding:20px 20px;
  font-size:20px;
  color:white;
}

.footer-nav a:hover{
  background-color:#a19e97;
  color:black;
  border-radius:10px;
  border:5px solid black;
}

/* Making the size consitant on my logos to my socials
Also added styling with socials and hover effect*/

.social-nav {
  position:relative;


}

.social-nav a:hover{
  border:5px outset black;
  background-color:#a19e97;
}


#socials {
  width:100px;
  border-radius:50%;
  padding:20px;
}


/* adding a class that wil style sticky navbar*/

/*
.sticky{
  position:fixed;
  top:0;
  width:100%;
}
*/
